<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name="com.example.trippersapp.PanoSample"
            android:exported="false"

            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.trippersapp.Extra.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.trippersapp.DeleteUser"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.trippersapp.DetailPage.BookingPopUp"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.trippersapp.DetailPage.BookingConfirmation"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.trippersapp.DetailPage.TravelBooking"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlkcnM48Ax72DYVCbtSMsIqXWbozHeX5I" />

        <activity
            android:name="com.example.trippersapp.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.example.trippersapp.TopDestinations"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.trippersapp.AccountSettings"
            android:exported="false"
            android:parentActivityName="com.example.trippersapp.MainPages.UserPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.trippersapp.ProfilePage"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="false"
            tools:replace="android:exported" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="false"
            tools:replace="android:exported" />

        <activity
            android:name="com.example.trippersapp.LoginRegistration.ForgotPass2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.LoginRegistration.ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.LoginRegistration.verifypage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.MainPages.BookingPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.sampledeets"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.DetailPage.DestinationDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.MainPages.UserPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.LoginRegistration.registration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.LoginRegistration.login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.MainPages.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>