<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name="com.example.trippersapp.TopDestinations"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.trippersapp.AccountSettings"
            android:exported="false"
            android:parentActivityName="com.example.trippersapp.MainPages.UserPage">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.trippersapp.ProfilePage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.trippersapp.LoginRegistration.UploadDisplayPhoto"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
        <activity
            android:name="com.example.trippersapp.TextInputActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        -->
        <!--
<activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="false"
            tools:replace="android:exported" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="false"
            tools:replace="android:exported" />
        -->
        <activity
            android:name="com.example.trippersapp.Admin.AdminAttractions"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.Admin.AdminAddData"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.LoginRegistration.ForgotPass2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.LoginRegistration.ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.LoginRegistration.verifypage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.MainPages.NotifPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.MainPages.BookingPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.sampledeets"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.DetailPage.DestinationDetailAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.MainPages.UserPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.LoginRegistration.registration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.trippersapp.LoginRegistration.login"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.trippersapp.MainPages.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>